awscli==1.18.114
boto==2.49.0
boto3==1.14.37
botocore==1.17.37
descartes==1.1.0
Fiona==1.8.13.post1
GDAL==3.1.2
geojson==2.5.0
geopandas==0.8.1
geopy==2.0.0
matplotlib==3.0.3
nbconvert==5.6.1
numpy==1.18.5
opencv-python==4.3.0.36
opencv-python-headless==4.3.0.36
osgeo==0.0.0
pandas==0.24.2
pygal==2.4.0
rasterio>=1.1.5
scipy==1.4.1
seaborn==0.9.0
sentinelhub==3.0.5
sentinelsat==0.14
Shapely==1.7.0